body {
  background-color: #ffffff;
}

.city-picture {
width: 500px;
}

.ausrine-picture-1 {
  width: 230px;
  padding-left: 40px;
}

.ausrine-picture-2 {
  width: 230px;
  align-items: center;
}

.ausrine-picture-3 {
  width: 230px;
  align-items: center;
  padding-left: 40px;
}

.ausrine-picture-4 {
  width: 230px;
  align-items: center;
}

.ausrine-picture-9 {
  align-items: center;
  margin: 0px 0px 20px 0px;
  width: 1100px;
}

.ausrine-picture-10 {
  width: 550px;
  padding-left: 40px;
}

.ausrine-picture-11 {
  width: 300px;
  margin: 0px 0px 0px 0px;
}

.ausrine-picture-12 {
  width: 300px;
  margin: 0px 0px 0px 250px;
}

.ausrine-picture-13 {
  width: 1000px;
  margin: 10px 10px 30px 0px;
}

.call_to_action_button {
  border: 1px solid black;
  border-radius: 500px;
  padding: 10px;
  width: 300px;
  text-align: center;
  margin: 0 auto;
}

.call_to_action_button:hover{
  border: 1px solid black;
  border-radius: 500px;
  background-color: #EBD5BC;
  padding: 10px;
  width: 300px;
  text-align: center;
  margin: 0 auto;
  color: white;
}

.call_to_action_button a{
  text-decoration: none;
  font-size: 18px;
  color: black;
}


.my-logo {
  width: 180px;
}


#container {
  width: 1100px;
  margin: 0 auto;
}
ul {
list-style-type: none;
font-size: 20px;
font-family: 'Montserrat', monospace;
margin: 50px 0 0 0px;
padding: 0;
overflow: hidden;
background-color: #ffffff;
}

li {
float: right;
}

li a {
display: block;
color: black;
text-align: center;
padding: 0px 16px;
text-decoration: none;
}

li a:hover {
color: #D1BAAA;
}

h1 {
  align-items: center;
  font-family: sans-serif;
  color: #403426;
}

h2 {
  font-family: sans-serif;
  color: #403426;
}

p {
  font-family: 'Montserrat', monospace;
  color: #403426;
  margin: 0px 0px 30px 0px;
}

.two-column {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 40px 40px 40px 0px ;
}

#first-column {
  grid-template-columns: 70% 30%;
}

#second-column {
  grid-template-columns: 30% 70%;
}

#third-column {
  grid-template-columns: 70% 30%;
}

#fourth-column {
  grid-template-columns: 30% 70%;
}

.two-column div {
  margin-right: 10px;
  background-color: #fff;
}


footer {
  background-color: #ffffff;
  padding: 40px;
}
